<br/>
<br/>
<br/>
<br/>
<h1>Sign Up</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class = "newperson">
  <div>
    <br>
    <%= f.text_field :email, placeholder: "email", :class=>"form-control new-person-form" %>
  </div>
  <div>
    <br>
    <%= f.password_field :password, placeholder: "password", :class=>"form-control new-person-form" %>
  </div>
  <div>
    <br>
    <%= f.password_field :password_confirmation, placeholder: "password", :class=>"form-control new-person-form" %>
  </div>
  <div ><%= f.submit "Sign Up", :class=> "btn btn-primary btn-new" %></div>
<% end %>
</div>

<!-- use placeholder: "email" for text inside box and :class => "email" to assign a class for each text field






