<body class = "body-new">
<br><br><br>
<h1> New Contact </h1>

<div class = "newperson">

<%= form_for @contact do |f| %>
    <%= f.text_field :name, type: "text", :class => "form-control new-person-form", placeholder: "Name"%> 
    <%= f.text_field :company, type: "text", :class => "form-control new-person-form", placeholder: "Company"%> 
    <%= f.text_field :meeting_location, type: "text", :class => "form-control new-person-form", placeholder: "Meeting Location" %> 
   	<%= f.url_field :linkedin, type: "text", :class => "form-control new-person-form", placeholder: "Linkedin"%>  <br>
	<%= f.file_field :avatar, :class => "image-choice-button" %>

		<%= button_tag(type: 'submit', class: "btn btn-primary btn-new") do %>
              <i class="icon-ok icon-white"></i> submit
            <% end %>

<% end %>
    
</div>

</body>






