<h1 class = "header_show"> Contact </h1>
  
  <div class = "wrapper">
    <div class = "list">

      	<div class = "contact_card_show">
          <div class = "contact_name_show"><%= @contact.name %></div>
      	  <div class = "contact_company_show"><%= @contact.company %></div>
      	  <%= @contact.meeting_location %>
    		  <%= @contact.linkedin %>
        </div> 

        <div class = "contact_photo_show">
          <%= image_tag @contact.avatar.url %>
        </div>

          <%= link_to contacts_path, class: "btn btn-default btn-lg" do %>
            <i class="glyphicon glyphicon-arrow-left"></i>

          <%= link_to @contact, method: :delete, data: { confirm: 'Are you sure you want to delete it?' }, class: "btn btn-default btn-lg" do %>
            <i class = "glyphicon glyphicon-trash"></i>    

          <%= link_to edit_contact_path(@contact), class: "btn btn-default btn-lg" do %>
            <i class = "glyphicon glyphicon-cog"></i>      

        <% end %>
       
    </div> 
      
  </div>

<div>
      <%= form_for @comment, as: :comment, url: new_comment_path, method: :post do |f| %>

      <%= f.hidden_field :contact_id, :value => @contact.id %>

        <div>
          <%= f.text_area :post %> 
        </div>
   
        <div>
          <%= f.submit %>

        </div>
        
        <div>
          <% @contact.comments.each do |comment| %>
          <%= comment.post %>
        </div>

      <% end %>
      <% end %>
    <% end %>
  <% end %>  
</div>


<%#= link_to "Delete", @contacts.comment, method: :delete, data: { confirm: 'Are you sure you want to delete it?' } %>


